<style>


</style>
  <footer class="mt-2 mb-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <p>© <?php echo date('Y') ?> <a href="#">Elifelet</a>  All rights reserved.
        </div>
        <div class="col-lg-4">
          <p>Design by : <a href="#">sanazix</a></p>
        </div>
        <div class="col-lg-4">
        <div class="social">

        <a class="social-icon" data-tooltip="email@gmail.com" href="mailto:email@gmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>

        <a class="social-icon" data-tooltip="Facebook" href="https://www.facebook.com/Elifelet.inc">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>

        <a class="social-icon" data-tooltip="YouTube" href="https://www.youtube.com/channel/UC_8rctIa-3RLRbWFomnVxKQ">
          <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>
        <a class="social-icon" data-tooltip="YouTube" href="https://www.instagram.com/elifeletbevent/">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
</div>
        </div>
      </div>
    </div>
  </footer>
<script>
  $(function(){
    $('.selectpicker').selectpicker();
});
</script>
 <!-- JAVASCRIPT FILES -->
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/js/Headroom.js') }}"></script>
        <script src="{{ asset('assets/js/jQuery.headroom.js') }}"></script>
        <script src="{{ asset('assets/js/slick.min.js') }}"></script>
        <script src="{{ asset('assets/js/custom.js') }}"></script>